<%- include("partials/header") %>




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="/img/banner.jpg" alt="banner" class="img-responsive center-block">  
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input class="form-control name-box" type="text" placeholder="Enter Name" id="name" onchange="getScores(this)">   
        </div>
    </div>
</div>
<% countries.forEach((country) => { %>
    
    <div class="container">
        <div class="row rounded_borders">
    
            <div class="col-md-12 header-box">
                <h2><%= country.order %> - <%= country.name %></h2>
            </div>

        </div>
    </div>
        
    <div class="container">
        <div class="row top-padding">
            <div class="col-md-3">
                <img src="/img/acts/<%=country.name%>.jpg" alt="<%=country.name%> " class="img-responsive center-block">
            </div>
            
            <div class="col-md-2">
                <img src="/img/flags/<%=country.name%>.svg" alt="<%=country.name%> " class="img-responsive center-block">
            </div>

            <div class="col-md-2">
                <h4>Song</h4>
                <input class="form-control" type="number" placeholder="0" id="<%=country.name%>-song_personal" onchange="updateScore(this)" min="0" max="10">
                <h3 id="<%=country.name%>-song" class="rounded_borders_only">0</h3>
            </div>     
            <div class="col-md-2">
                <h4>Staging</h4>
                <input class="form-control" type="number" placeholder="0" id="<%=country.name%>-staging_personal" onchange="updateScore(this)" min="0" max="10">                
                <h3 id="<%=country.name%>-staging" class="rounded_borders_only">0</h3>
            </div>   
            
            <div class="col-md-2">
                <h4>Combined</h4>
                
                <input class="form-control" type="number" placeholder="0" id="<%=country.name%>-combined_personal" readonly>

                <h3 id="<%=country.name%>-combined" class="rounded_borders_only">0</h3>
            </div>               

        </div>
    </div>        
<% }) %>

<script>
    getScores = (e) => {
        const name = document.getElementById('name').value;

        let data = {
                functionGroup: "socketFunctions",  
                function: "getScores",
                message: "Redownload Scores",
                data: {
                    name: name
                }
            }		        		
        connFunctions.messageServer(data)            
    }

    updateScore = (e) => {

        const name = document.getElementById('name').value;
        let value = Number(e.value);
        let min = Number(e.min);  
        let max = Number(e.max);  

        if(value > max){
            value = max
        }
        if(value < min){
            value = min
        }        

        e.value = value; //SET VALUE TO MAX OR MIN IF IT'S OVER THAT LEVEL
	
        let data = {
                functionGroup: "socketFunctions",  
                function: "updateScores",
                message: "Update Scores",
                data: {
                    name: name,
                    country: e.id.split('-')[0],
                    field: e.id.split('-')[1],
                    value: value
                }
            }		        		
        connFunctions.messageServer(data)        
    }  


</script>


<script src="/js/classes/error_handler.js"></script>
<script src="/js/classes/socket_handler.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>

    socket_address = "<%= data.address %>";
	instance_type = "<%= data.instance_type %>";

    const errorHandler = new error_handler();
    const socketHandler = new socket_handler({
        socket_address: socket_address
    });

        		
    // socketHandler.messageServer({
    //     functionGroup: "core",  
    //     function: "messageUser",
    //     message: "Update this is a test",
    //     data: {
    //         name: "test name",
    //         functionGroup: "core",  
    //         function: "test",
    //     }
    // }) 
</script>

<%- include("partials/footer") %>