<%- include("../partials/header") %>

<%- include("../partials/socket_login") %>
<%- include("../partials/socket_waitingroom") %>


</div>
<script>
	instance_type = "<%= data.instance_type %>";
</script>

<%- include("../partials/footer") %>